<div class="centered-container">
  <div class="banner"><img src="images/about-banner.jpg" alt="" /></div>
  <div class="about">
    <div class="section-header">ABOUT</div>
    <div class="section">
      FANCY SHIT is a young and independent fashion brand<br />
      based in Shanghai, China.<br />
      Modern, Chic, Quality, and absurdly wonderful with affordable price<br />
      is what FANCY SH!T stands for.
    </div>
  </div>
  <div class="contact">
    <div class="section-header">CONTACT</div>
    <div class="section">
      <ul>
        <li>EMAIL: AVIVI.WANG@GMAIL.COM</li>
        <li>WEIBO.COM/FANCYSHIT</li>
      </ul>
    </div>
  </div>
</div>