<!DOCTYPE html>
<html class='no-js'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content=''>
    <meta name='author' content='nfang'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/normalize.min.css'>
    <link rel='stylesheet' href='/stylesheets/main.min.css'>
    <link rel='author' href='/humans.txt'>
  </head>
  <body>
    <div class="header">
      <h1>
        <a href="/"><img src="/images/logo.png" alt="FANCYSH!T" /></a>
      </h1>
      <div class="tagline">YOU NEED SOME FANCY SHIT</div>
    </div>
    <div class="full-width-hr"></div>
    <ul class="nav">
      <li>
        COLLECTION
        <ul class="sub coll-year">
          <li>
            2013
            <ul class="sub coll-season">
              <li>
                <a href="/collection/2013/spring">Spring</a>
              </li>
              <li>
                <a href="/collection/2013/summer">Summer</a>
              </li>
            </ul>
          </li>
          <li>
            2012
            <ul class="sub coll-season">
              <li>
                <a href="/collection/2012/autumn">Autumn</a>
              </li>
              <li>
                <a href="/collection/2012/winter">Winter</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://thefancyshit.taobao.com/" title="Visit our online store." target="_blank">ONLINE STORE</a>
      </li>
      <li>
        <a href="/about">ABOUT</a>
      </li>
      <li>
        <a href="/press">PRESS</a>
      </li>
      <li>
        <a href="http://weibo.com/fancyshit" target="_blank">BLOG</a>
      </li>
    </ul>
    {{{ yield }}}
    <div style='clear: both'></div>
    <div class="footer">
      <p>COPYRIGHT &copy; 2013 FANCY SHIT ALL RIGHTS RESERVED.</p>
      <p>
        <img src="/images/weibo-icon.png" />
        <a class="weibo" href="http://weibo.com/fancyshit" target="_blank">http://weibo.com/fancyshit</a>
      </p>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="/scripts/vendor/jquery.min.js"><\/script>')</script>
    <script src="/scripts/slider.js"></script>
    <script src="/scripts/main.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46319318-1']);
      _gaq.push(['_setDomainName', 'thefancyshit.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>