@import url('normalize.css');
@font-face {
  font-family: 'FuturaLight';
  src: url('/stylesheets/fonts/FuturaLT/futuralt-light-webfont.eot');
  src: url('/stylesheets/fonts/FuturaLT/futuralt-light-webfont.woff') format('woff'), 
       url('/stylesheets/fonts/FuturaLT/futuralt-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaBook';
  src: url('/stylesheets/fonts/FuturaBook/futuralt-book-webfont.eot');
  src: url('/stylesheets/fonts/FuturaBook/futuralt-book-webfont.woff') format('woff'), 
       url('/stylesheets/fonts/FuturaBook/futuralt-book-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Megrim';
  src: url('/stylesheets/fonts/Megrim/Megrim.eot');
  src: url('/stylesheets/fonts/Megrim/Megrim.woff') format('woff'), url('/stylesheets/fonts/Megrim/Megrim.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
}
a,
a:hover,
a:active,
a:visited {
  color: #000000;
  text-decoration: none;
}
.header {
  margin: 2em auto;
  width: 960px;
}
.header > h1 {
  margin: 0;
  padding: 0 42%;
}
.header > .tagline {
  font: normal normal 1.2em/1.2em FuturaLight, Helvetica, sans-serif;
  letter-spacing: .2em;
  padding-top: .1em;
  text-align: center;
}
.full-width-hr {
  border-top: 1px solid #aaaaaa;
  height: .1px;
  width: 100%;
}
li {
  list-style-type: none;
}
li a,
li span {
  margin-left: 1em;
}
ul {
  margin: 0;
  padding: 0;
}
.container, .centered-container {
  position: relative;
  *z-index: 5;
}
ul.nav {
  font: normal normal 1.3em/2em FuturaLight, Helvetica, sans-serif;
  margin: 1em auto 1.8em auto;
  *margin-bottom: 1em;
  padding-left: 0;
  padding-bottom: 1em;
  *padding-bottom: 0;
  position: relative;
  width: 960px;
  *z-index: 10;
}
ul.nav > li {
  color: #000000;
  cursor: pointer;
  float: left;
  position: relative;
  width: 20%;

  /* IE7 inline-block hack */
  *display: inline;
  *zoom: 1;
  letter-spacing: .2em;
  text-align: center;
  text-transform: capitalize;
}
ul.nav > li:first-child {
  text-align: left;
}
ul.nav > li:last-child {
  text-align: right;
}
ul.nav > li:last-child > a {
  margin-right: 1em;
}
.sub {
  background-color: #fdfdfd;
  opacity: 0;
  filter:alpha(opacity=0);
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  position: absolute;
  left: -9999px;
  z-index: 2000;
}
li:hover > .sub {
  opacity: .95;
  filter:alpha(opacity=95);
}
ul.nav > li:hover > .coll-year {
  left: 0px;
}
.coll-year > li:hover > .coll-season {
  left: 100px;
  top: 0px;
}
.coll-year {
  *top: 26px;
}
.coll-season {
  *margin-top: -11px;
  left: -9999px;
}
.coll-year, .coll-season {
  width: 100px;
}
.coll-year > li, .coll-season > li {
  border-bottom: 1px dotted #666666;
  line-height: 3em;
  padding: 0 1em;
  position: relative;
}
.container img {
  border: 1px solid #aaaaaa;
}
.cols {
  margin: .8em auto;
}
.cols .col {
  display: inline-block;
  /* IE7 inline-block hack */

  *display: inline;
  *zoom: 1;
  margin-left: .8em;
}
.footer {
  font-size: 1em;
  line-height: 1em;
  margin: 2em auto;
  text-align: center;
  position: relative;
  width: 960px;
}
.footer .weibo {
  color: #333333;
  padding-left: 5px;
  text-decoration: underline;
}
.container {
  color: #616161;
  height: 560px;
  overflow: hidden;
}
.centered-container {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}
.about, .contact {
  font: normal normal 12px/20px FuturaLight, Helvetica, sans-serif;
  padding: 2em 0;
  text-align: center;
}
.about {
  border-bottom: 1px dotted #666666;
}
.banner img {
  position: relative;
  display: block;
}
.section-header {
  color: #333333;
  font: normal normal 1.5em/2.5em Verdana, sans-serif;
  letter-spacing: .25em;
}
#kv-container {
  overflow: hidden;
}
#kv {
  left: 0;
  position: relative;
  width: 19999px;
}
#kv > li {
  float: left;
  width: 960px;
}
#carousel {
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -185px;
  width: 19999px;
  height: 560px;
}
#carousel > li {
  float: left;
  opacity: .15;
  filter:alpha(opacity=15);
}
#carousel > li.active {
  opacity: 1;
  filter:alpha(opacity=100); 
}
.slide-nav {
  cursor: pointer;
  display: block;
  font: normal normal 48px/560px Megrim, cursive;
  position: absolute;
  height: 560px;
  line-height: 560px;
  width: 120px;
  opacity: .15;
  filter:alpha(opacity=15);
  text-align: center;
  z-index: 1000;
}
.slide-nav:hover {
  background-color: #ccc;
}
.slide-nav.prev {
  left: 0;
}
.slide-nav.next {
  right: 0;
}
h2.page-header {
  margin-top: 1.8em;
  margin-bottom: .8em;
  font-family: FuturaBook, Helvetica, sans-serif;
  font-size: 2.5em;
  letter-spacing: 2px;
}
.section.sidebar, .section.postlist {
  float: left;
}
.sidebar {
  color: #666666;
  font: normal normal 1.3em/1.3em FuturaLight, Helvetica, sans-serif;
}
.sidebar-header {
  margin-bottom: 1.8em;
}
ul.sidebar-list {
  margin-bottom: 1.5em;
}
ul.sidebar-list > li {
  margin-bottom: .5em;
}
ul.sidebar-list > li > a { color: #666666; }
.postlist {
  font: normal normal 1.3em/1.3em FuturaLight, Helvetica, sans-serif;
}
.post {
  color: #333333;
  margin-bottom: 4em;
  margin-left: 12em;
}
.post > .post-header {
  font: normal normal 1.3em/1.3em Helvetica, sans-serif;
  margin-bottom: 1em;
}
.post > .post-header > .post-type {
  color: #94795f;
  padding-right: 1.5em;
}
.post > .post-content {
  max-width: 600px;
}
.post > .post-content img {
  display: block;
  margin: .5em 0;
}
.post > .post-footer {
  margin-top: 1em;
}
.post > .post-footer > .inquiry {
  border-bottom: 1px dashed #999999;
  font-family: Helvetica, sans-serif;
  padding: 1.2em 0;
}
.post > .post-footer > .post-meta {
  color: #999999;
  padding: 1.2em 0;
}
.postlist > .empty {
  padding: 0;
  margin-left: 6em;
}
.empty {
  color: #999999;
  font: normal normal 16px/16px FuturaLight, Helvetica, sans-serif;
  padding: 3em 0;
}