.Menu {
  cursor: pointer;
  position: relative;
}

.Menu-items {
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
  top: 1.8rem;
  display: none;
  z-index: 10;
}

.Menu-items.expanded {
  display: block;
}

.MenuItem {
  box-sizing: border-box;
  border-bottom: 1px dotted #666;
  line-height: 1.5;
  padding: .8rem;
  position: relative;
}

.MenuItem-label {
  line-height: 1.5;
}

.MenuItem-submenu {
  top: 0;
  left: 100%;
  width: 100%;
}
